body{
    display: block;
    background-size: cover;
    height: fit-content;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#locationbar {
    background-color: rgb(95, 95, 95, 0.6);
    height: 45px;
    margin-right: -16px;
    margin-left: -8px;
   ;

}

#cityandstate{
    float: left;
    padding-left: 53px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#search {
    margin-left: 60px;
    margin-top: 15px;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-size: 6%;
    background-position: 6px 3px; 
    background-repeat: no-repeat; 
    width: 200px; 
    height: 1px;
    font-size: 14px; 
    padding: 12px 10px 8px 30px; 
    border: 1px solid #ddd; 
}

#submit {
    margin-left: -3px;
    vertical-align: bottom;
}

#navbar {
    position: absolute;
    background-color: rgb(95, 95, 95, 0.6);
    height: 45px;
    right:  -8px;
    left: -8px;
    max-width: auto;
}

#hourly {
    float: left;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(95, 95, 95, 0.1);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
}

#hourly:hover{
    background-color: rgb(0, 0, 0, .4);
}

#fiveDay {
    float: left;
    padding-left: 27px;
    padding-right: 80px;
    text-overflow: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
}

#fiveDay:hover {
    background-color: rgb(0, 0, 0, .4);
}

#currentforecast {
    margin-top: 70px;
    text-align: left;
    padding-left: 225px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
}

#forecast {
    margin-top: -40.5px;
    text-align: right;
    padding-right: 200px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
}

#weeklyForecast {
    visibility: hidden;
    margin-top: -40.5px;
    text-align: right;
    padding-right: 200px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
}

#containerA {
    margin-top: -10px;
    position: absolute;
    background-color: rgb(95, 95, 95, 0.6);
    left: 80px;
    right: 950px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen, 2.5px 2.5px 2.5px black;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    height: auto;
    width: 500px;
}

#containerB {
    margin-top: -10px;
    position: absolute;
    background-color: rgb(95, 95, 95, 0.7);
    left: 950px;
    right: 90px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen, 2px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    height: auto;
    width: 520px;
}

#containerC {
    padding-left: 50px;
    padding-inline-end: -50px;
    padding-bottom: 30px;
    position: absolute;
    background-color: rgb(95, 95, 95, 0.7);
    left: 950px;
    right: 90px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen, 2px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    width: 465px;
    white-space: pre-wrap;
    visibility: hidden;
    line-height: 30px;
}

#date {
    font-weight: Bold;
    
}

#time { 
    text-align: center;
    text-indent: -10px;
    font-weight: bold;
    margin-top: -34px;
}
    
#a{
    height: 100px;
    width: auto;
    text-align: left;
    padding-bottom: 20px;

}


#b{
    height: 100px;
    width: auto;
    text-align: left;
    padding-bottom: 20px;
}

#c{
    height: 100px;
    width: auto;
    text-align: left;
    padding-bottom: 20px;
}

#d{
    height: 100px;
    width: auto;
    text-align: left;
    padding-bottom: 20px;
}

#e{
    height: 100px;
    width: auto;
    text-align: left;
    padding-bottom: 20px;
}
