body{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 8%, rgba(91,91,131,1) 66%, rgba(0,212,255,1) 100%);
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px lightseagreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
}

#navbar{
    background-color: rgb(95, 95, 95);
    display: block;
    height: 45px;
    margin-right: -8px;
    margin-left: -8px;
    max-width: auto;
    border-top: .5px solid rgb(23, 24, 24);
    border-bottom: .5px solid rgb(23, 24, 24);
}

#container{
    text-align: center;
    background: transparent;
    margin-right: -8px;
    margin-left: -8px;
}

#date{
    font-weight: Bold;
    
}